.section-1{
    background-color: blue;
    border: 5px solid;
}
.Section-2{
    background-color: yellow;
    border: 5px solid;
}
.section-3{
    background-color: green;
    border: 5px solid;
}

.A{
    color: crimson;}
.B{
    color: indigo;
}
#C{
    color: brown;
}